body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #0a1f44, #020d1f);
    color: white;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 40px;
    color: #66ccff;
    text-shadow: 0 0 15px #3399ff;
    margin-top: 30px;
}

nav {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 20px;
    margin: 20px auto;
    width: 60%;
}

nav a {
    margin: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #3399ff;
    color: black;
    box-shadow: 0 0 10px #3399ff;
}

p {
    font-size: 18px;
    margin-top: 20px;
}

section {
    margin: 40px;
    padding: 20px;
    background-color: #102b5c;
    border-radius: 10px;
}

button {
    padding: 12px 25px;
    background-color: #3399ff;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #66ccff;
    box-shadow: 0 0 10px #66ccff;
}
.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    padding:40px;
}

.art-card{
    background:#102b5c;
    padding:20px;
    width:250px;
    border-radius:20px;
    box-shadow:0 0 15px #3399ff;
}

.art-card img{
    width:100%;
    border-radius:15px;
}

.art-card h2{
    color:#66ccff;
}
